:root.theme-dark {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --background-color: #000028;
  --section-title-color: #ff0070;
  --card-title-color: #000028;
  --button-color: #ff0070;
  --button-border: #ff0070;
  --decor-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
}

.theme-dark .header__rec,
.theme-dark .header__rec::after {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --text-color: #f1b2ce;
    --background-color: #000028;
    --section-title-color: #ff0070;
    --card-title-color: #000028;
    --button-color: #ff0070;
    --button-border: #ff0070;
    --decor-color: #ff0070;
    --background-image: url(../images/cover-image-dark.png);
  }
  
  .header__rec,
  .header__rec::after {
    display: block;
  }
}