.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 12px;
  border: 1px solid transparent;
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;
  cursor: pointer;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid currentColor;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__rec {
  position: absolute;
  inset-inline-end: 38px;
  inset-block-start: 10px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.39;
}

.header__rec::after {
  content: '';
  position: absolute;
  inset-inline-end: -20px;
  inset-block-start: 8px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  align-self: center;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__content {
  align-self: center;
  justify-self: end;
  max-inline-size: 355px;
}

.header__text {
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--card-title-color);
  padding: 0;
  
}
/* Поднимаем текстовый блок выше на 1024x768 */
@media (width: 1024px) and (height: 768px) {
  .header__content {
    align-self: start !important;
    margin-bottom: 130px !important;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  background-color: var(--accent-color);
  color: var(--card-title-color);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__content p {
  color: var(--text-color);
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery-section {
  gap: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    grid-template-rows: 1fr min-content 1fr;
  }
  
  .header__rec {
    inset-inline-end: 48px;
    inset-block-start: 20px;
  }
  
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
    justify-self: start;
  }
  /* Поднимаем текстовый блок выше на 1024x768 */
@media (width: 1024px) and (height: 768px) {
  .header__title {
    margin-top: 170px !important;
  }
}
  .header__content {
    max-inline-size: 364px;
    justify-self: end;
    align-self: center;
  }
  
  .main {
    padding: 60px 20px;
    gap: 80px;
  }
  
  .section {
    gap: 20px;
  }
  
  .section:nth-child(1) {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }
  
  .section:nth-child(1) .section__title {
    grid-column: 1;
  }
  
  .section:nth-child(1) .section__content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* ВТОРАЯ СЕКЦИЯ - ТРИ КОЛОНКИ ГОРИЗОНТАЛЬНО */
  .section:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .section:nth-child(2) .section__title {
    max-inline-size: 236px;
  }
  
  .section:nth-child(2) .section__content {
    display: grid !important;
    
    gap: 20px !important;
  }
  
  .section:nth-child(3) {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }
  
  .section:nth-child(3) .section__title {
    grid-column: 1;
  }
  
  .section:nth-child(3) .section__content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .section:nth-child(4) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }
  
  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  
  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  
  .footer {
    padding: 20px;
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }
  
  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    padding: 20px;
    grid-template-rows: min-content 1fr min-content;
  }
  
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }
  
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 4px 4px 0 var(--accent-color);
    justify-self: start;
    align-self: center;
  }
  
  .header__content {
    max-inline-size: 491px;
    justify-self: end;
    align-self: center;
  }
  
  .main {
    padding: 60px 20px;
    gap: 80px;
  }
  
  .section:nth-child(1) {
    display: grid;
    grid-template-columns: 315px 1fr;
    gap: 20px;
  }
  
  .section:nth-child(1) .section__title {
    grid-column: 1;
  }
  
  .section:nth-child(1) .section__content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .section:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .section:nth-child(2) .section__title {
    max-inline-size: 315px;
  }
  
  .section:nth-child(2) .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .section:nth-child(3) {
    display: grid;
    grid-template-columns: 315px 1fr;
    gap: 20px;
  }
  
  .section:nth-child(3) .section__title {
    grid-column: 1;
  }
  
  .section:nth-child(3) .section__content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .section:nth-child(4) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 315px 433px;
    gap: 20px;
  }
  
  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  
  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  
  .footer {
    padding: 20px;
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 2px 2px 0 var(--accent-color);
  }
  
  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }
  
  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }
}

@media (width < 768px) {
  .gallery__image:nth-child(1) {
    block-size: 142px;
  }
  
  .gallery__image:nth-child(2) {
    block-size: 355px;
  }
  
  .gallery__image:nth-child(3) {
    block-size: 237px;
  }
  
  .gallery__image:nth-child(4) {
    block-size: 355px;
  }
  
  .gallery__image:nth-child(5) {
    block-size: 237px;
  }
}

.section:nth-child(3) .card__title {
  font-weight: 400 !important;
}

.section:nth-child(3) .card:first-child .card__content {
  gap: 10px !important;
}

.card__title1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 23px;
  background-color: var(--accent-color);
  color: var(--card-title-color);
}
