.page {
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 20px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 12px;
  border: 1px solid transparent;
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;
  cursor: pointer;
  block-size: 26px;
  color: var(--button-color);
  background: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__rec {
  position: absolute;
  inset-inline-end: 48px;
  inset-block-start: 20px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.39;
}

.header__rec::after {
  display: none;
}

.header__title {
  align-self: center;
  justify-self: start;
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 4px 4px 0px var(--accent-color);
  margin-inline-start: -20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.header__content {
  align-self: start;
  justify-self: end;
  max-inline-size: 491px;
  padding-top: 50px;
}

.header__text {
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--card-title-color);
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 60px 20px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.section__title {
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.section:nth-child(1) {
  display: grid;
  grid-template-columns: 236px 1fr;
  gap: 20px;
}

.section:nth-child(1) .section__title {
  grid-column: 1;
}

.section:nth-child(1) .section__content {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section:nth-child(2) .section__title {
  max-inline-size: 236px;
}

.section:nth-child(2) .section__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section:nth-child(3) {
  display: grid;
  grid-template-columns: 236px 1fr;
  gap: 20px;
}

.section:nth-child(3) .section__title {
  grid-column: 1;
}

.section:nth-child(3) .section__content {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}

.section:nth-child(3) .section__subtitle {
  opacity: 1;
}

.section__subtitle {
  background-color: var(--accent-color);
  color: var(--card-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.section__subtitle.title-decor {
  height: auto;
  line-height: 23px;
  padding: 0;
  display: block;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  background-color: var(--accent-color);
  color: var(--card-title-color);
}

.section:nth-child(3) .card__title {
  font-weight: 400;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__content p {
  color: var(--text-color);
  font-size: 18px;
  line-height: 23px;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--text-color);
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery-section {
  gap: 15px;
}

.gallery__title {
  background-color: var(--accent-color);
  color: var(--card-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 192px 230px 318px;
  gap: 20px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__image:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.gallery__image:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.gallery__image:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.gallery__image:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.gallery__image:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 20px;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-inline-end: 20px;
  inset-block-start: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-inline-start: 20px;
  inset-block-end: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
}

.light .header__rec {
  display: none;
}

@media (width >= 768px) and (width < 1024px) {
  .section:nth-child(2) .section__content {
    grid-template-columns: 1fr;
  }

  .header .title-decor {
    height: 117px;
    opacity: 1;
    position: absolute;
    top: 724px;
    left: 384px;
  }
}

@media (width < 768px) {
  .header {
    padding: 10px;
    grid-template-rows: 1fr min-content 1fr;
  }
  
  .header__rec {
    inset-inline-end: 38px;
    inset-block-start: 10px;
  }
  
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: 0;
    justify-self: center;
  }
  
  .main {
    padding: 40px 10px;
    gap: 50px;
  }
  
  .section:nth-child(1),
  .section:nth-child(2),
  .section:nth-child(3) {
    display: flex;
    flex-direction: column;
  }
  
  .section:nth-child(1) .section__content,
  .section:nth-child(3) .section__content {
    grid-column: 1;
  }
  
  .section:nth-child(2) .section__content {
    grid-template-columns: 1fr;
  }
  
  .section:nth-child(2) .section__title {
    max-inline-size: none;
  }
  
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }
  
  .gallery__image:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    block-size: 142px;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    block-size: 355px;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
    block-size: 237px;
  }
  
  .gallery__image:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
    block-size: 355px;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: 1;
    grid-row: 5;
    block-size: 237px;
  }
  
  .footer {
    padding: 10px;
  }
  
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  
  .decorated-zone::before {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }
  
  .decorated-zone::after {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .section:nth-child(1) {
    grid-template-columns: 315px 1fr;
  }
  
  .section:nth-child(2) .section__title {
    max-inline-size: 315px;
  }
  
  .section:nth-child(3) {
    grid-template-columns: 315px 1fr;
  }
  
  .gallery {
    grid-template-rows: 260px 315px 433px;
  }
}

@media (width >= 1024px) and (width < 1280px) {
  .header__content {
    padding-top: 110px;
  }
}