:root {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --background-color: #000028;
  --section-title-color: #ff0070;
  --card-title-color: #000028;
  --button-color: #ff0070;
  --button-border: #ff0070;
  --decor-color: #ff0070;
  
  --title-shadow: 4px 4px 0 var(--accent-color);
  --footer-title-shadow: 2px 2px 0 var(--accent-color);

  --font-family: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --line-height: 23.4px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  
  --gap: 20px;
  --section-gap: 50px;
  --card-gap: 10px;
  
  --header-height: 100vb;
  --footer-height: 100vb;
  --min-block-size: 668px;
  
  --background-image: url(../images/cover-image-dark.png);
  
  --mobile-content-width: 355px;
  --mobile-padding: 10px;
  --mobile-gap: 10px;
  
  --tablet-section-title-width: 236px;
  --tablet-content-width: 472px;
  --tablet-gap: 20px;
  
  --desktop-section-title-width: 315px;
  --desktop-content-width: 649px;
  --desktop-gap: 20px;
}